<a href="https://colab.research.google.com/github/draglar/Moringa-dsc6/blob/master/IP_week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing

Improting necessary liblaries

In [1]:
import pandas as pd
from datetime import datetime

Getting all the necessary files for todays work and creating the necessary dataframes

In [2]:
cells_geo_description='cells_geo_description.xlsx'
cells_geo='cells_geo.csv'
CDR_description='CDR_description.xlsx'
CDR_TelecomDataset1='Telcom_dataset.csv'
CDR_TelecomDataset2='Telcom_dataset2.csv'
CDR_TelecomDataset3='Telcom_dataset3.csv'
geo_descr=pd.read_excel(cells_geo_description)
geo_cells=pd.read_csv(cells_geo, delimiter=';')
tel_descr=pd.read_excel(CDR_description)
tel_set_1=pd.read_csv(CDR_TelecomDataset1)
tel_set_2=pd.read_csv(CDR_TelecomDataset2)
tel_set_3=pd.read_csv(CDR_TelecomDataset3)

In [3]:
geo_descr

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [4]:
gcol=['VILLES','STATUS','LOCALISATION','DECOUPZONE','ZONENAME','LONGITUDE','LATITUDE','REGION','AREA','CELL_ID','SITE_CODE']

In [5]:
geo_cells

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [6]:
geo_cells.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    3974 non-null   int64
 1   VILLES        3974 non-null   object
 2   STATUS        3907 non-null   object
 3   LOCALISATION  3974 non-null   object
 4   DECOUPZONE    3974 non-null   object
 5   ZONENAME      3968 non-null   object
 6   LONGITUDE     3974 non-null   float64
 7   LATITUDE      3974 non-null   float64
 8   REGION        3974 non-null   object
 9   AREA          3951 non-null   object
 10  CELL_ID       3974 non-null   object
 11  SITE_CODE     3974 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 372.7+ KB

In [7]:
geo_cells.isnull().sum()

Unnamed: 0       0
VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
LONGITUDE        0
LATITUDE         0
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

In [8]:
tel_descr

       Column name                                        Description   Format
0          PRODUCT                                       Voice or SMS   String
1            VALUE                                      Billing price  Integer
2        DATE_TIME               Time in format yyyy-MM-dd hh:mm:ss.0   String
3     CELL_ON_SITE  Which cell in the site was used (not needed here)  Integer
4  DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
5  DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
6        COUNTRY_A                  Country of party A (useless here)   String
7        COUNTRY_B                  Country of party B (useless here)   String
8          CELL_ID                                     ID of the cell   String
9          SITE_ID                                     ID of the SITE   String

In [9]:
col=['PRODUCT','VALUE','DATE_TIME','CELL_ON_SITE','DW_A_NUMBER_INT','DW_B_NUMBER_INT','COUNTRY_A','COUNTRY_B','CELL_ID','SITE_ID']

In [10]:
tel_set_1.columns=col
tel_set_2.columns=col
tel_set_3.columns=col

merging the telcom datasets into one because they are pretty much one split dataset

## Preparation

In [11]:
dfrs=[tel_set_1,tel_set_2,tel_set_3]
telcom=pd.concat(dfrs)
telcom

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

Removing unnecessary columns

In [12]:
telcom.drop(columns=['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'],inplace=True)

dropping duplicates

In [13]:
telcom.duplicated().sum()

253

In [14]:
telcom=telcom.drop_duplicates()

Fixing the time format from the dataset

In [15]:
pd.to_datetime('2012-05-07 00:00:47.0')

Timestamp('2012-05-07 00:00:47')

so it makes no difference

In [16]:
telcom[['date','time']]=telcom['DATE_TIME'].str.split(' ',expand=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

checking to see if values exist in both telcom dataset and geography dataset

In [17]:
geo_cells.REGION.count()

3974

In [18]:
geo_cells.CELL_ID[geo_cells['CELL_ID']=='7f1f2f889f'].count()

0

In [19]:
geo_cells.SITE_CODE[geo_cells['SITE_CODE']=='6d70dae094'].count()

6

merging telcom and geography datasets

In [20]:
both=telcom.merge(geo_cells,left_on='SITE_ID',right_on='SITE_CODE')

In [21]:
both.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50318 entries, 0 to 50317
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          50318 non-null  object
 1   VALUE            50318 non-null  int64
 2   DATE_TIME        50318 non-null  object
 3   DW_A_NUMBER_INT  50318 non-null  object
 4   DW_B_NUMBER_INT  50318 non-null  object
 5   CELL_ID_x        50318 non-null  object
 6   SITE_ID          50318 non-null  object
 7   date             50318 non-null  object
 8   time             50318 non-null  object
 9   Unnamed: 0       50318 non-null  int64
 10  VILLES           50318 non-null  object
 11  STATUS           49615 non-null  object
 12  LOCALISATION     50318 non-null  object
 13  DECOUPZONE       50318 non-null  object
 14  ZONENAME         50300 non-null  object
 15  LONGITUDE        50318 non-null  float64
 16  LATITUDE         50318 non-null  float64
 17  REGION           50318 non-null  object
 18  AREA             50062 non-null  object
 19  CELL_ID_y        50318 non-null  object
 20  SITE_CODE        50318 non-null  object
dtypes: float64(2), int64(2), object(17)
memory usage: 8.4+ MB

removed redundant SITE_CODE column

In [22]:
both=both.drop(columns='SITE_CODE')

In [23]:
both.isnull().sum()

PRODUCT              0
VALUE                0
DATE_TIME            0
DW_A_NUMBER_INT      0
DW_B_NUMBER_INT      0
CELL_ID_x            0
SITE_ID              0
date                 0
time                 0
Unnamed: 0           0
VILLES               0
STATUS             703
LOCALISATION         0
DECOUPZONE           0
ZONENAME            18
LONGITUDE            0
LATITUDE             0
REGION               0
AREA               256
CELL_ID_y            0
dtype: int64

In [24]:
both.STATUS.unique()

array(['In Service', nan], dtype=object)

In [25]:
both['ZONENAME'].unique()

array(['ZONE A - Grand-NORD', 'ZONE A - Abidjan_CENTRE',
       'ZONE C - Abidjan_OUEST', 'ZONE E - Abidjan_NORD',
       'ZONE B - Grand-SUD', 'ZONE D - Grand-OUEST',
       'ZONE D - Abidjan_SUD', 'ZONE B - Abidjan_EST',
       'ZONE C - Grand-EST', 'ZONE E - SUD-OUEST', 'OKAHOTEL',
       'WILLIAMSVILLE2', 'PALMABINGERVILLE', 'ZONE D - Abidjan_EST',
       'NPONON', 'ZONE B - Abidjan_OUEST', 'ZONE A - Abidjan_OUEST',
       'ZONE D - Grand-SUD', 'ZONE A - Grand-SUD', 'ZONE A - Grand-EST',
       'ZONE C - Abidjan_EST', 'AGBANNEW', 'ZONE B - Abidjan_SUD',
       'ZONE C - Abidjan_SUD', nan, 'ZONE B - Grand-NORD',
       'ZONE B - Grand-EST', 'ZONE B - Abidjan_Nord',
       'ZONE B - Abidjan-EST', 'ZONE B - Abidjan_CENTRE'], dtype=object)

In [26]:
both.AREA.unique()

array(['CENTRE NORTH', 'ABIDJAN SOUTH', 'ABIDJAN NORTH', 'NORTH WEST',
       'EAST', 'SOUTH WEST', nan], dtype=object)

In [27]:
both.fillna('-',inplace=True)

In [28]:
both.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50318 entries, 0 to 50317
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          50318 non-null  object
 1   VALUE            50318 non-null  int64
 2   DATE_TIME        50318 non-null  object
 3   DW_A_NUMBER_INT  50318 non-null  object
 4   DW_B_NUMBER_INT  50318 non-null  object
 5   CELL_ID_x        50318 non-null  object
 6   SITE_ID          50318 non-null  object
 7   date             50318 non-null  object
 8   time             50318 non-null  object
 9   Unnamed: 0       50318 non-null  int64
 10  VILLES           50318 non-null  object
 11  STATUS           50318 non-null  object
 12  LOCALISATION     50318 non-null  object
 13  DECOUPZONE       50318 non-null  object
 14  ZONENAME         50318 non-null  object
 15  LONGITUDE        50318 non-null  float64
 16  LATITUDE         50318 non-null  float64
 17  REGION           50318 non-null  object
 18  AREA             50318 non-null  object
 19  CELL_ID_y        50318 non-null  object
dtypes: float64(2), int64(2), object(16)
memory usage: 8.1+ MB

## Analysis

### Which ones were the most used city for the three days?

In [29]:
both.VILLES.describe()

count        50318
unique         400
top       YOPOUGON
freq          8549
Name: VILLES, dtype: object

In [30]:
both.VILLES.value_counts().head(10)

YOPOUGON        8549
ABOBO           6159
COCODY          3716
ADJAME          2655
KOUMASSI        2275
MARCORY         2104
YAMOUSSOUKRO    2076
TREICHVILLE     2026
DALOA           1747
ATTECOUBE       1634
Name: VILLES, dtype: int64

### Which cities were the most used during business and home hours?

In [31]:
both.LONGITUDE.describe()

count    50318.000000
mean        -4.645657
std          1.059972
min         -8.408611
25%         -5.260333
50%         -4.055778
75%         -4.003056
max         -0.000000
Name: LONGITUDE, dtype: float64

given all longitudes are within GMT +/- 30 minutes longitudes are unnecesary

In [32]:
both.STATUS.describe()

count          50318
unique             2
top       In Service
freq           49615
Name: STATUS, dtype: object

In [33]:
both['time'].count()

50318

In [34]:
both.time[(both['time']>='0:08:00.0') & (both['time']<='0:17:00.0')].count()

0

In [35]:
both.time[(both['time']<='0:08:00.0') | (both['time']>='0:17:00.0')].count()

50318

This shows all calls in the data set were made during home hours.
Now checking most used city during home hours

In [36]:
both.VILLES.value_counts().head(10)

YOPOUGON        8549
ABOBO           6159
COCODY          3716
ADJAME          2655
KOUMASSI        2275
MARCORY         2104
YAMOUSSOUKRO    2076
TREICHVILLE     2026
DALOA           1747
ATTECOUBE       1634
Name: VILLES, dtype: int64

### Most used city for the three days?

In [37]:
both.VILLES.value_counts().head(1)

YOPOUGON    8549
Name: VILLES, dtype: int64

The most used city was YOPOUGON

### The most used region

In [38]:
both.REGION.value_counts().head(10)

LAGUNE               32960
LACS                  2408
BAS SASSANDRA         2327
HAUT SASSANDRA        2286
VALLEE DU BANDAMA     1551
SUD BANDAMA           1518
SAVANE                 999
18 MONTAGNES           936
FROMAGER               904
WORODOUGOU             792
Name: REGION, dtype: int64

In [39]:
gr=both[both.REGION=='LAGUNE']
gr.VILLES.value_counts().head(10)

YOPOUGON       8549
ABOBO          6159
COCODY         3716
ADJAME         2655
KOUMASSI       2275
MARCORY        2104
TREICHVILLE    2026
ATTECOUBE      1634
PORT-BOUET     1527
DABOU           414
Name: VILLES, dtype: int64

### The least cities used

In [40]:
vv=both[['VILLES','VALUE']].groupby('VILLES').count()
lst=vv[vv.VALUE<=vv.max().VALUE].sort_values(by='VALUE',ascending=1).head(10)
lst

                  VALUE
VILLES
KOTOULA               2
DANANON               2
DJENIDOUFLA           3
DJOUKOUYO             3
DAKPADOU              3
BLANFLA               3
BINAO                 3
BIN HOUNIEN           3
BIELOU-CARREFOUR      3
NGATTADOLIKRO         3

### SMS vs CALLS
Which was more used

In [41]:
both.PRODUCT.value_counts()

sms      29052
Voice    21266
Name: PRODUCT, dtype: int64

SMS's were used for communication as compared to Calls

### The most frequent users

In [42]:
both.DW_A_NUMBER_INT.value_counts().head(10)

8ab8b9ed6989f61    420
4e49073a756df8c    348
6d10227297efcb9    261
a048e1ab344dcd8    201
c731afd285c9261    180
444da5f3bc97ddd    180
ebd6d4a192a8f2d    162
5b6f26b5d0758fe    156
a0a597384c612d7    150
3460a40959c6e5a    138
Name: DW_A_NUMBER_INT, dtype: int64